Q1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use

#Ans1.
#MongoDB is a popular open-source, document-oriented NoSQL database that allows data to be stored in a flexible and scalable manner.
#In scenarios where data structures are highly dynamic or unstructured, NoSQL databases like MongoDB are preferred over SQL databases.
#MongoDB is a good choice for scenarios that require flexible data structures, high scalability, and performance.

Q2. State and Explain the features of MongoDB.

#Ans2.
#MongoDB is a popular NoSQL database that offers many powerful features that make it a popular choice for modern web applications.
#Some of the key features of MongoDB are:
#Document-oriented data model
#High availability and scalability
#Indexing and querying
#Aggregation and data processing
#Ad-hoc queries and analytics

Q3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.

In [4]:
#Ans3:
#pip install pymongo

import pymongo

client = pymongo.MongoClient('mongodb+srv://AAMIR:pwskills@aamir.sfezxf6.mongodb.net/?retryWrites=true&w=majority')
db= client.test

db= client['pwskills']

coll_create = db["my_record"]
data = {"name" :"sudh",
        "class" : "Data Science Master Impact",
        "time" : "flex"}

coll_create.insert_one(data)

InsertOneResult(ObjectId('65ccdb77f5b06cf4116045cb'), acknowledged=True)

Q4. Using the database and the collection created in question number 3, write a code to insert one record, and insert many records. Use the find() and find_one() methods to print the inserted record.

In [6]:
data1 = {"name" :"Sudhanshu sir",
         "Age" : 35,
         "course" : "Data Science Master impect"}
coll_create.insert_one(data1)

data2 = [
    {"course_id" : 20, "coursename" : "Mongodb", "lecture" : [1,2,3,4]},
    {"course_id" : 22, "coursename" : "python", "lecture" :  [5,6,7,8]},
    {"course_id" : 25, "coursename" : "SQL,CNN", "lecture" : [10,11,13,14]}
    ]
coll_create.insert_many(data2)

for i in coll_create.find() :
    print(i)

for i in coll_create.find({"course_id" : 22}) :
    print(i)

{'_id': ObjectId('65cce11bf5b06cf4116045cc'), 'name': 'Sudhanshu sir', 'Age': 35, 'course': 'Data Science Master impect'}
{'_id': ObjectId('65cce11bf5b06cf4116045cd'), 'course_id': 20, 'coursename': 'Mongodb', 'lecture': [1, 2, 3, 4]}
{'_id': ObjectId('65cce11bf5b06cf4116045ce'), 'course_id': 22, 'coursename': 'python', 'lecture': [5, 6, 7, 8]}
{'_id': ObjectId('65cce11bf5b06cf4116045cf'), 'course_id': 25, 'coursename': 'SQL,CNN', 'lecture': [10, 11, 13, 14]}
{'_id': ObjectId('65cce11bf5b06cf4116045ce'), 'course_id': 22, 'coursename': 'python', 'lecture': [5, 6, 7, 8]}

Q5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to demonstrate this.

In [7]:
#Ans.
#The find() method is used to query data in a MongoDB collection. It returns a cursor to the documents that match the specified query criteria.
db = client['mongopw']

coll_create = db["test"]
data3 = {"name" : "prakash",
         "email_id" : "prakash27@gmail.com",
         "department" : "supportpwskills",
         "salary" : 750000}
coll_create.insert_one(data3)
for i in coll_create.find() :
    print(i)

{'_id': ObjectId('65ccc0d0c1f9608a4182a52f'), 'name': 'prakash', 'email_id': 'prakash27@gmail.com', 'department': 'supportpwskills', 'salary': 750000}
{'_id': ObjectId('65cce131f5b06cf4116045d0'), 'name': 'prakash', 'email_id': 'prakash27@gmail.com', 'department': 'supportpwskills', 'salary': 750000}

Q6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.

In [10]:
#Ans6 :
#The sort() method is used to sort the results of a MongoDB query.

db =client["student"]

coll_create = db["record"]

result = [
    {"course_id" : 26, "companyname": "python", "lecture" : "Shudhanshusir"},
    {"course_id" : 28, "companyname" : "sparx",  "lecture" :"krishnmayaksir"},
    {"course_id" : 32, "companyname" : "API_CNN","lecture" : "amitkrsir"}
]

result = coll_create.find().sort([("course_id", pymongo.ASCENDING), ("lecture", pymongo.DESCENDING)])

for result in result:
    print(result)

{'_id': ObjectId('65cce11bf5b06cf4116045cc'), 'name': 'Sudhanshu sir', 'Age': 35, 'course': 'Data Science Master impect'}
{'_id': ObjectId('65cce11bf5b06cf4116045cd'), 'course_id': 20, 'coursename': 'Mongodb', 'lecture': [1, 2, 3, 4]}
{'_id': ObjectId('65cce11bf5b06cf4116045ce'), 'course_id': 22, 'coursename': 'python', 'lecture': [5, 6, 7, 8]}
{'_id': ObjectId('65cce11bf5b06cf4116045cf'), 'course_id': 25, 'coursename': 'SQL,CNN', 'lecture': [10, 11, 13, 14]}

Q7. Explain why delete_one(), delete_many(), and drop() is used.

In [ ]:
#Ans.
#1. delete_one() method: This method is used to delete a single document that matches a given filter.
coll_create.delete_one({"name":"rohit"})
#2. delete_many() method: This method is used to delete multiple documents that match a given filter.
coll_create.delete_many({"coursename" :"SQL"})
#3. drop() method: This method is used to drop an entire collection from the database.
coll_create.drop()